@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Source+Sans+Pro:wght@300;400;700&display=swap");
:root {
  --dark-brown: #2C1B1A;
  --neutral-brown: #2c2120;
  --neutral-light-tan: #ffeedb;
  --neutral-tan: #c2b8ad;
  --main-red: #8e1b1d;
  --main-green: #3dab71;
  --accent-red: #e28d93;
  --accent-tan: #ffd8a1;
  --accent-orange: #f79348;
  --highlight-red: #E4C5C8;
  --active-red: #B78C8D;
  --highlight-green: #AFD4B8;
}

/* ----------
* GENERAL STYLES
---------- */
html {
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: var(--dark-brown);
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  max-width: 1440px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 992px) {
  body {
    font-size: 1.35rem;
    line-height: 38px;
  }
}

h1, h2 {
  font-family: "Carter One", serif;
}

h3 {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 25px;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.75em;
    line-height: 40px;
  }
}

h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5em;
    line-height: 1em;
  }
}

img {
  width: 100%;
}

.sr-only {
  visibility: hidden;
  height: 0px;
  position: absolute;
  left: -100rem;
  margin: 0;
  top: -100rem;
  padding: 0;
}

.paper-top {
  position: absolute;
  top: -1px;
  z-index: 1;
}

.paper-bottom {
  position: absolute;
  bottom: 0;
  rotate: 180deg;
  z-index: 1;
}

.paper-rev-bottom {
  position: absolute;
  top: 0;
  rotate: 180deg;
  z-index: 1;
}

.paper-nav-bottom {
  display: none;
}

.bottom-adjust {
  bottom: -5px;
}
@media screen and (min-width: 768px) {
  .bottom-adjust {
    bottom: -25px;
  }
}

/* ----------
* LAYOUT
---------- */
.col-md-6 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .col-md-6 {
    width: 50%;
  }
}

/* ----------
* MOBILE NAV
----------- */
.top-nav__mobile {
  background-color: var(--dark-brown);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: block;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .top-nav__mobile {
    display: none;
  }
}

.mobile-menu__flex {
  display: flex;
  justify-content: space-between;
}

.mobile-menu__btn {
  border: 0;
  background-color: transparent;
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 0.75rem;
}

.mobile-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.mobile-menu .closebtn {
  color: white;
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
}
.mobile-menu .closebtn:hover {
  color: var(--accent-tan);
}
.mobile-menu .closebtn:active {
  color: var(--accent-red);
}

.mobile-menu__content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.mobile-menu__content .mobile-nav__searchbar {
  font-size: 1.05em;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 70%;
}
.mobile-menu__content a, .mobile-menu__content a:visited {
  color: white;
  display: block;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  padding: 0.75rem 0;
  text-decoration: none;
  transition: 0.2s;
}
.mobile-menu__content a:hover {
  background-color: var(--main-red);
}
.mobile-menu__content a:active {
  background-color: var(--accent-red);
}
.mobile-menu__content a:focus {
  outline: 2px solid mediumaquamarine;
  outline-offset: -2px;
}
.mobile-menu__content .mobile-menu__user-opt {
  padding: 1rem 2.75rem;
  display: flex;
  justify-content: space-between;
}
.mobile-menu__content .mobile-menu__user-opt a, .mobile-menu__content .mobile-menu__user-opt a:visited {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-decoration: none;
  transition: 0.2s;
}
.mobile-menu__content .mobile-menu__user-opt a:hover {
  background-color: transparent;
  color: var(--accent-tan);
}
.mobile-menu__content .mobile-menu__user-opt a:active {
  color: var(--accent-red);
}
.mobile-menu__content .mobile-menu__user-opt a:focus {
  outline: 2px solid mediumaquamarine;
}

@media screen and (max-height: 450px) {
  .mobile-menu a {
    font-size: 20px;
  }

  .mobile-menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* ----------
* NAVIGATION
---------- */
.top-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-nav {
    /* background-color: transparent; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 50px;
    position: sticky;
    top: 0;
    transition: 0.2s;
    width: 100%;
    z-index: 4;
    background-color: var(--dark-brown);
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
  }
}
@media screen and (min-width: 768px) {
  .top-nav--black {
    background: black;
  }
}
.main-nav__logo {
  max-width: 125px;
  padding: 0.75rem;
}

.top-nav__contact, .top-nav__contact:visited {
  align-self: center;
  display: inline-block;
  color: var(--neutral-light-tan);
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-top: 1rem;
  text-decoration: none;
  transition: 0.2s;
}

.top-nav__contact:hover {
  background-color: var(--main-red);
}

.top-nav__contact:active {
  text-decoration: underline;
}

.top-nav__btn {
  background-color: var(--dark-brown);
  /* background-color: transparent; */
  border: none;
  color: var(--neutral-light-tan);
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  padding: 0 1.5rem;
  transition: 0.2s;
}

.top-nav__btn:hover {
  background-color: var(--main-red);
}

.top-nav__btn:active {
  background-color: var(--highlight-red);
  text-decoration: underline;
}

.top-nav__btn:focus {
  background-color: var(--main-red);
}

.top-nav__menu-btn {
  border: none;
}

.top-nav__menu-btn__desktop {
  display: none;
}

.top-nav__menu-btn__mobile {
  display: inline;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .top-nav__menu-btn__desktop {
    display: inline;
  }

  .top-nav__menu-btn__mobile {
    display: none;
  }
}
.top-nav__menu-overlay {
  background-color: var(--main-red);
  color: white;
  height: 0%;
  width: 100%;
  overflow-y: hidden;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  transition: 0.5s;
}

@media screen and (min-width: 992px) {
  .top-nav__menu-overlay {
    top: 60px;
  }
}
.top-nav__menu-overlay-open {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .top-nav__menu-overlay-open {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
}
.top-nav__menu {
  position: relative;
  text-align: center;
  top: 15%;
  width: 100%;
}

.top-nav__menu a, .top-nav__menu a:visited {
  color: white;
  display: block;
  font-size: 1.1em;
  padding: 0.75rem 1em;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .top-nav__menu a, .top-nav__menu a:visited {
    padding: 0.75rem 0.75rem;
    padding-top: 0;
  }
}

.top-nav__menu a:hover {
  color: var(--accent-tan);
}

.top-nav__menu a:active {
  color: var(--neutral-tan);
}

.top-nav__menu a:focus {
  outline: 2px solid mediumaquamarine;
  outline-offset: 2px;
}

@media screen and (min-width: 992px) {
  .top-nav__menu {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .top-nav__menu a {
    display: inline-block;
    font-size: 0.75em;
  }
}
.top-nav__user-opt {
  display: flex;
  font-size: 1.1em;
  justify-content: space-around;
  height: 60px;
  align-self: center;
  padding-right: 0.5rem;
}
.top-nav__user-opt a, .top-nav__user-opt a:visited {
  align-self: center;
  display: block;
  color: var(--neutral-light-tan);
  padding: 0 1rem;
  transition: 0.2s;
}
.top-nav__user-opt a:hover {
  background-color: var(--main-red);
}
.top-nav__user-opt a:active {
  color: white;
}
.top-nav__user-opt a:focus {
  outline: 2px solid mediumaquamarine;
}

.top-nav__menu--active {
  border-bottom: 2px solid hotpink;
}

/* CLOSE BTN - TABLET/MOBILE ONLY */
@media screen and (min-width: 992px) {
  .closebtn {
    display: none;
  }
}
.closebtn, .closebtn:visited {
  color: #1e1e1e;
  position: absolute;
  top: 2%;
  left: 5%;
  text-decoration: none;
  transition: 0.2s;
  font-size: 50px;
}

.closebtn:hover {
  color: hotpink;
}

.closebtn:active {
  color: gray;
}

.closebtn:focus {
  outline: 2px solid mediumaquamarine;
  outline-offset: 2px;
}

/* SEARCH BAR AND BTN */
.top-nav__search-btn {
  border: none;
  font-size: 1.2em;
  width: 4.5em;
}

.top-nav__searchbar {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  font-size: 1.1em;
  font-weight: 300;
  height: 0px;
  letter-spacing: 0.03em;
  overflow-y: hidden;
  padding-left: 1rem;
  position: fixed;
  top: 50px;
  transition: 0.5s;
  width: 100%;
  visibility: hidden;
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .top-nav__searchbar {
    top: 60px;
  }
}
.top-nav__searchbar--open {
  height: 50px;
  transition: 0.5s;
  visibility: visible;
}

.top-nav--fadeInOut {
  background-color: #1e1e1e !important;
}

/* ----------
* BUTTONS
---------- */
.btn {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: inline-block;
  font: bold 1rem/1.5rem "Source Sans Pro", Helvetica, sans-serif;
  letter-spacing: 0;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}
@media screen and (min-width: 525px) {
  .btn {
    font-size: 1.5rem;
    letter-spacing: 0.04rem;
  }
}

.btn--red, .btn--red:visited {
  background-color: var(--main-red);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: white;
}

.btn--red:hover {
  background-color: var(--highlight-red);
}

.btn--red:active {
  background-color: var(--active-red);
}

.btn--red:focus {
  outline: 2px solid aquamarine;
  outline-offset: 2px;
}

.btn--brown, .btn--brown:visited {
  background-color: var(--dark-brown);
  color: white;
}

.btn--brown:hover {
  background-color: black;
}

.btn--brown:active {
  background-color: var(--main-red);
}

.btn--brown:focus {
  outline: 2px solid var(--main-green);
  outline-offset: 2px;
}

.btn--outline, .btn--outline:visited {
  border: 4px solid var(--main-red);
  color: var(--main-red);
}

.btn--outline:hover {
  background-color: var(--main-red);
  border-color: var(--main-red);
  color: white;
}

.btn--outline:active {
  background-color: var(--accent-red);
  border-color: var(--accent-red);
}

.btn--outline:focus {
  outline: 2px solid var(--main-green);
  outline-offset: 2px;
}

/* ----------
* LINKS
---------- */
.link {
  font-weight: bold;
  letter-spacing: 0.03em;
  padding: 0.5rem 0.5rem 0.15rem 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
}
.link .fa-external-link {
  font-size: 0.8em;
}

.link--red, .link--red:visited {
  color: var(--main-red);
}

.link--red:hover {
  color: var(--highlight-red);
  border-bottom: 2px solid var(--highlight-red);
}

.link--red:active {
  color: var(--active-red);
  border-bottom: 3px solid var(--active-red);
}

.link--red:focus {
  outline: 2px solid aquamarine;
  outline-offset: 2px;
}

.link--green, .link--green:visited {
  color: var(--main-green);
}

.link--green:hover {
  color: var(--highlight-green);
  border-bottom: 3px solid var(--highlight-green);
}

.link--green:active {
  color: seagreen;
  border-bottom: 3px solid seagreen;
}

.link--green:focus {
  outline: 2px solid aquamarine;
  outline-offset: 2px;
}

.link--brown, .link--brown:visited {
  color: var(--neutral-brown);
}

.link--brown:hover {
  color: black;
}

.link--brown:active {
  color: var(--neutral-tan);
}

.link--brown:focus {
  outline: 2px solid aquamarine;
  outline-offset: 2px;
}

.link--white {
  color: white;
  text-transform: none;
}

/* ----------
* HEADER
---------- */
header {
  background-color: var(--dark-brown);
  background-image: url("img/header-bg-900w.jpg");
  background-position: left;
  background-size: cover;
  color: white;
  height: 310px;
  position: relative;
}
@media screen and (min-width: 768px) {
  header {
    background-image: url("img/header-bg-1200.jpg");
    height: 75vh;
  }
}
@media screen and (min-width: 992px) {
  header {
    background-image: url("img/header-bg-1536w.jpg");
    height: 85vh;
  }
}
@media screen and (min-width: 1200px) {
  header {
    background-image: url("img/header-bg-1880w.jpg");
    height: 95vh;
  }
}

.header__container {
  background-color: var(--dark-brown);
  margin: 0 auto;
  width: 80%;
  padding: 0 1em 2em 1em;
  position: absolute;
  left: 5%;
  z-index: 2;
  text-align: center;
  top: 50%;
}
@media screen and (min-width: 576px) {
  .header__container {
    left: 8vw;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    background-color: transparent;
    padding: 2rem;
    position: relative;
    text-align: left;
    top: 10vh;
    left: auto;
    width: 400px;
    margin: 0;
    margin-left: 5%;
    z-index: 0;
  }
}
@media screen and (min-width: 992px) {
  .header__container {
    top: 12vh;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    top: 15vh;
    width: 41%;
  }
}
.header__container .btn__header {
  box-shadow: black 0px 20px 30px -10px;
}

.header__heading {
  font-size: 1.75rem;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  .header__heading {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header__heading {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__heading {
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 0;
  }
}

.header__copy {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 576px) {
  .header__copy {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .header__copy {
    text-shadow: 2px 2px 4px #000000;
  }
}
@media screen and (min-width: 1200px) {
  .header__copy {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

/* ----------
* MAIN
---------- */
main {
  padding-top: 13rem;
}
@media screen and (min-width: 992px) {
  main {
    padding-top: 4rem;
  }
}

/* ----------
* PRODUCTS
---------- */
.products {
  padding: 5rem 0;
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 0rem;
  }
  .products h2 {
    margin-top: 0;
  }
}

.products__container {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 95%;
}

.products__items {
  background-color: white;
  border: 0px;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
}

.products__items:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.products__items:active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.products__items:focus {
  outline: 2px solid aquamarine;
  outline-offset: 2px;
}

span.products__title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5rem;
}

span.products__size {
  font-size: 0.85em;
  font-weight: bold;
}

span.products__price {
  font-size: 0.85em;
}

p.products__diet-descr {
  font-size: 0.75em;
  font-weight: 300;
}

/* ----------
* Our Promise
----------- */
.our-promise {
  background-image: url("img/our-promise-plant-stamp-light-fade.png");
  background-position: left -100px center;
  background-size: cover;
  padding: 8% 0 18% 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .our-promise {
    background-position: left -50px center;
    padding: 12% 0 2% 0;
    height: 75vh;
  }
}
@media screen and (min-width: 992px) {
  .our-promise {
    padding: 15% 0 10% 0;
    height: 90vh;
  }
}

.our-promise__container {
  width: 80%;
  margin: 0 0 0 1rem;
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  .our-promise__container {
    margin-left: 2rem;
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .our-promise__container {
    margin: 0 0 0 5%;
    width: 40%;
  }
}

/* ----------
* OUR STORY
---------- */
.our-story {
  margin: 0 auto;
  padding: 2rem 0 5rem 0;
}

.our-story__container {
  display: block;
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .our-story__container {
    display: flex;
    justify-content: space-between;
  }
}

.our-story__img {
  display: block;
  max-width: 500px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .our-story__img {
    display: inline-block;
    order: 2;
    padding-left: 3rem;
    width: 50%;
  }
}

.our-story__copy {
  display: block;
}
@media screen and (min-width: 768px) {
  .our-story__copy {
    display: inline-block;
    order: 1;
    width: 50%;
  }
}

/* ----------
* OUR GOALS
---------- */
.our-goals h2 {
  text-align: center;
}

.our-goals__container {
  display: block;
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .our-goals__container {
    display: flex;
    justify-content: space-between;
  }
}

.our-goals__container-item {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  margin-bottom: 4rem;
  text-align: center;
}
.our-goals__container-item img {
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .our-goals__container-item {
    font-size: 1.15rem;
    width: 30%;
  }
}

/* ----------
* GIVING BACK
---------- */
.giving-back {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .giving-back {
    background-image: url("img/giving-back-bg-mountain-brown-1440w.jpg");
    background-position: bottom -25vh center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }
}
@media screen and (min-width: 992px) {
  .giving-back {
    background-position: bottom -35vh center;
  }
}
@media screen and (min-width: 1200px) {
  .giving-back {
    background-position: bottom -55vh center;
  }
}

.giving-back__container {
  margin: 0 auto;
  position: relative;
  width: 90%;
  z-index: 2;
}
.giving-back__container p {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .giving-back__container p {
    width: 70%;
  }
}

.giving-back__logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6rem;
}
@media screen and (min-width: 768px) {
  .giving-back__logos-container {
    flex-wrap: nowrap;
  }
}

.giving-back__logos-item {
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  margin-bottom: 1rem;
  padding: 2%;
  text-align: center;
  width: 40%;
}
.giving-back__logos-item img {
  max-width: 150px;
}
@media screen and (min-width: 768px) {
  .giving-back__logos-item {
    width: 25%;
  }
}

/* ----------
* MAP
---------- */
.map {
  position: relative;
  height: 475px;
}
@media screen and (min-width: 768px) {
  .map {
    height: 600px;
  }
}
@media screen and (min-width: 992px) {
  .map {
    height: 750px;
  }
}

.map__embed {
  height: 450px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .map__embed {
    height: 590px;
  }
}
@media screen and (min-width: 992px) {
  .map__embed {
    height: 740px;
  }
}

/* ----------
* COMMITMENT/ NEWS
---------- */
.commitment {
  padding-top: 4rem;
  position: relative;
}

.commitment__container {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 992px) {
  .commitment__container {
    display: flex;
  }
}

.commitment__statement {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .commitment__statement {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .commitment__statement {
    display: inline-block;
    position: relative;
    width: 45%;
    margin-left: 0;
  }
}

.commitment__img {
  margin: 0 auto;
  max-width: 300px;
}
@media screen and (min-width: 768px) {
  .commitment__img {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .commitment__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
}

.commitment__copy {
  background-color: var(--neutral-light-tan);
  padding: 1rem;
}
.commitment__copy h2 {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-weight: 300;
  margin-top: 0;
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .commitment__copy h2 {
    font-size: 1.2rem;
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .commitment__copy p {
    font-size: 0.9rem;
    line-height: 1.35rem;
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .commitment__copy a {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .commitment__copy {
    width: 50%;
    max-height: 250px;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .commitment__copy {
    position: absolute;
    right: 0px;
    top: 250px;
    max-height: 200px;
    z-index: 1;
    width: 60%;
  }
}

.latest-news {
  display: block;
  margin-top: 4rem;
  position: relative;
}
@media screen and (min-width: 992px) {
  .latest-news {
    display: inline-block;
    margin-top: 0;
    width: 50%;
  }
}
.latest-news h2 {
  font-size: 1.75rem;
  position: absolute;
  top: -1.5rem;
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  .latest-news h2 {
    left: 50px;
    top: 10px;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .latest-news h2 {
    left: 75px;
    top: -10px;
  }
}
@media screen and (min-width: 992px) {
  .latest-news h2 {
    font-size: 2.3rem;
    top: 75px;
    left: 60px;
  }
}

.lastest-news__fade-header {
  display: none;
}
@media screen and (min-width: 576px) {
  .lastest-news__fade-header {
    display: inline-block;
    color: var(--highlight-green);
    font-family: "Carter One", serif;
    font-size: 3.5em;
    opacity: 0.35;
    position: absolute;
    text-transform: uppercase;
    top: -50px;
    z-index: 0;
  }
}
@media screen and (min-width: 992px) {
  .lastest-news__fade-header {
    top: 0;
    left: 0;
  }
}

.latest-news--padding {
  margin: 0 auto;
  padding-top: 5rem;
  width: 95%;
}
@media screen and (min-width: 992px) {
  .latest-news--padding {
    padding-top: 10rem;
    position: relative;
    left: 60px;
    width: 85%;
  }
}

.latest-news__item {
  margin-bottom: 2rem;
}
.latest-news__item h3 {
  font-size: 1.75rem;
  font-weight: normal;
}
.latest-news__item p {
  font-size: 1.1rem;
}
.latest-news__item a {
  font-size: 1.1rem;
}

.latest-news__more-stories-container {
  position: relative;
}
.latest-news__more-stories-container img {
  position: absolute;
  top: 1.5em;
  transition: 0.2s;
  z-index: 0;
  width: 160px;
}
@media screen and (min-width: 992px) {
  .latest-news__more-stories-container img {
    width: 245px;
    top: 30px;
  }
}
.latest-news__more-stories-container a {
  position: relative;
  z-index: 1;
}

.latest-news__more-stories-container:hover img {
  opacity: 0.6;
}

.latest-news__more-stories-container:active img {
  opacity: 0.3;
}

/* ----------
* CONTACT US
---------- */
.spacer {
  padding-bottom: 150px;
}
@media screen and (min-width: 768px) {
  .spacer {
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 992px) {
  .spacer {
    padding-bottom: 600px;
  }
}

.contact-us {
  color: white;
  position: relative;
  background-color: var(--dark-brown);
  outline: 1px solid var(--dark-brown);
  padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .contact-us {
    color: var(--neutral-brown);
    padding-bottom: 250px;
  }
}

.contact-us__paper {
  top: -50px;
}
@media screen and (min-width: 768px) {
  .contact-us__paper {
    top: -80px;
  }
}
@media screen and (min-width: 992px) {
  .contact-us__paper {
    top: -130px;
  }
}

.contact-us__container {
  font-weight: normal;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .contact-us__container {
    background-color: #FFF3E5;
    background-image: url("img/arabica-plant-bg-bw.png");
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 70%;
    padding-bottom: 2rem;
    position: absolute;
    top: -225px;
    left: 15%;
  }
}
.contact-us__container img {
  display: none;
}
@media screen and (min-width: 992px) {
  .contact-us__container img {
    display: block;
    max-width: 200px;
    position: absolute;
    top: -125px;
    left: -80px;
    z-index: 2;
  }
}
.contact-us__container h2 {
  margin-top: 0;
  padding-top: 2rem;
  text-transform: uppercase;
}
.contact-us__container .contact-us__contact-info {
  display: block;
}
@media screen and (min-width: 768px) {
  .contact-us__container .contact-us__contact-info {
    display: flex;
    justify-content: space-around;
  }
}
.contact-us__container .contact-us__contact-info a, .contact-us__container .contact-us__contact-info a:visited {
  color: white;
  display: block;
  padding: 0.25rem;
  text-decoration: none;
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .contact-us__container .contact-us__contact-info a, .contact-us__container .contact-us__contact-info a:visited {
    display: inline;
  }
}
@media screen and (min-width: 992px) {
  .contact-us__container .contact-us__contact-info a, .contact-us__container .contact-us__contact-info a:visited {
    color: var(--main-red);
  }
}
.contact-us__container .contact-us__contact-info a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 992px) {
  .contact-us__container .contact-us__contact-info a:hover {
    color: var(--highlight-red);
    text-decoration: underline;
  }
}
.contact-us__container .contact-us__contact-info a:active {
  color: var(--accent-tan);
}
@media screen and (min-width: 992px) {
  .contact-us__container .contact-us__contact-info a:active {
    color: var(--accent-red);
    text-decoration: underline;
  }
}
.contact-us__container .contact-us__contact-info a:focus {
  outline: 2px solid var(--main-green);
  outline-offset: 2px;
}

/* ----------
* FOOTER
---------- */
.footer {
  background-color: var(--dark-brown);
  padding-top: 4rem;
  position: relative;
}

@media screen and (min-width: 992px) {
  .footer__flex-container {
    display: flex;
    justify-content: space-around;
  }
}

.footer__content {
  display: block;
}
@media screen and (min-width: 992px) {
  .footer__content {
    display: inline-block;
  }
}

.footer__info {
  color: white;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
  width: 80%;
}
@media screen and (min-width: 992px) {
  .footer__info {
    width: 30%;
  }
}
.footer__info img {
  max-width: 150px;
}
.footer__info .footer__address {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.footer__info .footer__social-media {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.footer__info .footer__social-media .fab {
  display: inline-block;
  font-size: 2em;
}
@media screen and (min-width: 992px) {
  .footer__info .footer__social-media .fab {
    font-size: 1.25em;
  }
}

.footer__redundant-nav {
  color: white;
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 992px) {
  .footer__redundant-nav {
    width: 70%;
  }
}

.footer__legal {
  color: white;
  font-size: 0.65em;
  text-align: center;
}
.footer__legal a, .footer__legal a:visited {
  color: white;
  display: inline-block;
  letter-spacing: 0.05em;
  padding: 0.5rem 0.5rem;
  transition: 0.2s;
}
.footer__legal a:hover {
  text-decoration: none;
}
.footer__legal a:active {
  color: var(--accent-tan);
  text-decoration: none;
}
.footer__legal a:focus {
  outline: 2px solid var(--main-green);
  outline-offset: 2px;
}
.footer__legal p:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
.footer__legal p:first-of-type {
  margin-bottom: 0;
}

.footer__social-media .fab {
  transition: 0.2s;
}

.footer__social-media .fab:hover {
  color: var(--neutral-tan);
  cursor: pointer;
}

.footer__social-media .fab:active {
  color: var(--accent-tan);
}

.footer__social-media .fab:focus {
  outline: 2px solid var(--main-green);
}

/* -----------
* FOOTER NAV
----------- */
.footer__redundant-nav button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  letter-spacing: 0.05em;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .footer__redundant-nav button {
    display: inline-block;
    width: 20%;
  }
}

.footer-nav__btn:after {
  font-family: sans-serif;
  content: "+";
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.footer__redundant-nav button:hover {
  background-color: var(--main-red);
  cursor: pointer;
}

.footer__redundant-nav button:active {
  background-color: var(--accent-red);
}
.footer__redundant-nav button:active .btn__icon::after {
  content: "−";
}

.footer__redundant-nav button:focus {
  outline: 2px solid var(--accent-orange);
}
.footer__redundant-nav button:focus .btn__icon::after {
  content: "−";
}

.panel {
  padding: 0.5rem 0;
  display: none;
}
.panel a, .panel a:visited {
  color: white;
  display: block;
  font-size: 1.1em;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: 0.2s;
}
.panel a:hover {
  background-color: var(--main-red);
}
.panel a:active {
  background-color: var(--accent-red);
}
.panel a:focus {
  outline: 2px solid var(--accent-orange);
}

@media screen and (min-width: 992px) {
  .footer__nav-mobile {
    display: none;
  }
}

/* ----------
* DESKTOP
---------- */
.footer__nav-desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .footer__nav-desktop {
    display: flex;
    justify-content: space-evenly;
  }
}

.footer__nav-desktop-item p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer__nav-desktop-links a, .footer__nav-desktop-links a:visited {
  color: white;
  display: block;
  font-size: 0.75em;
  letter-spacing: 0.02rem;
  padding-left: 0.5rem;
  text-decoration: none;
  transition: 0.2s;
}

.footer__nav-desktop-links a:hover {
  color: var(--neutral-tan);
  text-decoration: underline;
}

.footer__nav-desktop-links a:active {
  color: var(--accent-tan);
}

.footer__nav-desktop-links a:focus {
  outline: 2px solid var(--main-green);
}

/* ----------
* HORIZONTAL SCROLL STYLES (jQUERY)
---------- */
/* Begin Scroller Rules */
.horiz-scroll {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: visible;
  position: relative;
}

.horiz-scroll .scroller {
  max-height: 600px;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
  background-color: white;
}

.horiz-scroll .scroller .left-scroll {
  left: 0;
}

.horiz-scroll .scroller .right-scroll {
  right: 0;
}

.horiz-scroll .scroller .left-scroll, .horiz-scroll .scroller .right-scroll {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  padding: 0 2vw;
  overflow-x: hidden;
  z-index: 1;
  justify-content: center;
  -webkit-justify-content: center;
  position: absolute;
  height: 100%;
}

.horiz-scroll .scroller .left-scroll p, .horiz-scroll .scroller .right-scroll p {
  font-size: 3em;
  color: white;
  text-shadow: 0 0 10px #333;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .horiz-scroll .scroller .left-scroll p, .horiz-scroll .scroller .right-scroll p {
    color: black;
  }
}
.horiz-scroll .scroller .scrollable-x {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar {
  display: none;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar {
  width: 0.375em;
  max-width: 12px;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar-track {
  background-color: transparent;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1em;
}

.horiz-scroll .scroller .scroll-images {
  position: relative;
  flex: 8;
  -webkit-flex: 8;
  order: 2;
  -webkit-order: 2;
  z-index: 0;
  font-size: 0;
  overflow-y: visible;
  padding: 10% 0;
  margin: -10% 0;
  text-align: center;
}

.horiz-scroll .scroller .scroll-images button {
  width: 95%;
  margin: 0 2%;
  top: 0;
  z-index: 0;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  position: relative;
}
@media screen and (min-width: 768px) {
  .horiz-scroll .scroller .scroll-images button {
    margin: 0 1%;
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .horiz-scroll .scroller .scroll-images button {
    margin: 0 1.5%;
    width: 30%;
  }
}

.invisible {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

/* BREAKPOINTS */
/*
X-Small 	         <576px
Small 	           ≥576px
Medium 	           ≥768px
Large              ≥992px
Extra large        ≥1200px
Extra extra large  ≥1400px
*/

/*# sourceMappingURL=styles.css.map */
